
x-php-image: &php-image "myphp:8.4"

services:

  php-fpm:
    build:
      context: ./docker/php/8.4
      dockerfile: Dockerfile
    image: *php-image
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - laravel

  nginx:
    image: nginx:alpine
    ports:
      - "8082:80"
    volumes:
      - ./:/var/www
      - ./docker/webserver/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php-fpm
    networks:
      - laravel

  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - laravel
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  mysql:
    image: mysql:9.6
    profiles:
      - mysql
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
    networks:
      - laravel

  scheduler:
    image: *php-image
    working_dir: /var/www
    volumes:
      - ./:/var/www
    depends_on:
      - php-fpm
    command: >
      sh -c "while true; do
      php artisan schedule:run --verbose --no-interaction;
      sleep 60;
      done"
    networks:
      - laravel

  horizon:
    image: *php-image
    working_dir: /var/www
    command: php artisan horizon
    depends_on:
      - redis
    networks:
      - laravel

volumes:
  postgres_data:
  mysql_data:
  redis_data:

networks:
  laravel:
    driver: bridge
